.main_box{
    width: 80%;
    margin: 20px auto;
    background-color: #FCFCFC;
    padding: 20px;
    height: 100vh;
}
.message_box {
    display: flex;
    height:80vh;
    justify-content: space-between;
    background-color: #FFFFFF;
}
.main_box header{
    padding: 20px 0px 40px;
}
.side_bar{
    background-color: #FFFFFF;
    width: 27%;
    z-index: 100;
    box-shadow: 20px 5px 27px #00000014;
    border-radius: 10px;
}



.search_box{
    display: flex;
    background-color: #F4F4F4;
    margin: 20px;
    border-radius: 5px;
    
}
.search_box .icon{
    padding: 10px 0px 10px 10px;
    
}
.search_box input{
    border: none;
    padding: 10px;
    width: 100%;
    display: inline-block;
    background-color: #F4F4F4;
    border-radius: 5px;
   
}
.profile_icon{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}
.profile_icon .MuiSvgIcon-root{
    width: 3rem;
    height: 3rem;
    padding: 10px;
}
.person_info {
    
    margin: 10px;

}
.person {
    line-height: 3;
}
.chating_person {
    padding: 14px;
     border-radius: 15px;
}
.active{
    background-color: #F1F3F5;
    border-radius: 10px;
}
.name{
    font-weight: bold;
}
.description{
    color: rgb(156, 156, 156);
}
.chating_person .person{
    line-height: 2;
}

.chating_person_info{
    margin-left: 10px;
}
.chating_person_info .status{
    font-size: 12px;
}
.main_body{
    background-color: #FDFDFD;
    width: 50%;
    position: relative;
}
.message_body{
    margin:15px;

}
.message_body_header {
    background: #ececec;
    border-radius: 10px;
}
.left_message{
    background-color: #F1F3F5;
    border-radius: 5px;
    width: 80%;
}
.left_message .mess{
  padding: 5px 10px;

 
}
.right_message{
    background-color:#F73F5E;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
}
.right_message .mess{
  padding: 5px 10px;
  color:white;
 
}
.type_message{
  
    position: absolute;
    width: 100%;
    bottom: 0;
}
.type_message_input{
        width: 88%;
        padding:5px 10px;
        margin: 2%;
        border-radius: 20px;
        border: 1px solid black;

}
.type_message_input:focus{
    outline: none;
}
.profile_section {
    background-color: #FFFFFF;
    width: 20%;
    padding: 20px;
    text-align: center;
    z-index: 100;
    box-shadow: -20px -6px 27px #00000014;
    border-radius: 10px;
}
